In [1]:
pip install plotly

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (5.7.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install pandas_datareader

In [7]:
import mplfinance as mpf
import pandas_datareader as web
import plotly
import pandas_datareader as pdr
from pandas_datareader import data, wb
from datetime import date
import FinanceDataReader as fdr
import FinanceDataReader as fdr
import pandas as pd

In [2]:
df=df.astype(int)

NameError: name 'df' is not defined

In [3]:

!pip3 install certifi

import certifi

Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2021.10.8)

In [8]:
import ssl

In [9]:
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)[0]

In [10]:
code_df.종목코드=code_df.종목코드.map('{:06d}'.format)

In [11]:
code_df=code_df[['회사명','종목코드']]

In [12]:
code_df=code_df.rename(columns={'회사명':'name','종목코드':'code'})

In [13]:
code_df.head()

    name    code
0     DL  000210
1  DRB동일  004840
2    DSR  155660
3     GS  078930
4  KG케미칼  001390

In [16]:
def get_url(item_name, code_df):
    code=code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False)
    url='https://finance.naver.com/item/sise.naver?code={code}'.format(code=code)

In [20]:
item_name='삼성전자'
url=get_url(item_name, code_df)

print("요청 URL={}".format(url))

요청 URL=None

In [21]:
df=pd.DataFrame()

In [23]:
df=web.DataReader("005930.KS","yahoo","2018-01-01","2019-12-31")

In [24]:
df.head()

               High      Low     Open    Close      Volume     Adj Close
Date
2018-01-02  51400.0  50780.0  51380.0  51020.0   8474250.0  44846.003906
2018-01-03  52560.0  51420.0  52540.0  51620.0  10013500.0  45373.378906
2018-01-04  52180.0  50640.0  52120.0  51080.0  11695450.0  44898.734375
2018-01-05  52120.0  51200.0  51300.0  52120.0   9481150.0  45812.878906
2018-01-08  52520.0  51500.0  52400.0  52020.0   8383650.0  45724.980469

In [29]:
df=df.dropna()

In [27]:
df=df.rename(columns={'날짜':'ata','종가':'close','전일비':'diff','시가':'open','고가':'high','저가':'low','거래량':'volume'})

In [80]:
df.head()

,High,Low,Open,Close,Volume,Adj Close,masd,macds,macdo,Date
Date,,,,,,,,,,
2018-01-02,51400,50780,51380,51020,8474250.0,44846,0.000000,0.000000,0.0,2018-01-02
2018-01-03,52560,51420,52540,51620,10013500.0,45373,13.461538,7.478632,0.0,2018-01-03
2018-01-04,52180,50640,52120,51080,11695450.0,44898,0.407304,4.580547,0.0,2018-01-04
2018-01-05,52120,51200,51300,52120,9481150.0,45812,32.008805,13.871962,0.0,2018-01-05
2018-01-08,52520,51500,52400,52020,8383650.0,45724,44.527491,22.991289,0.0,2018-01-08

In [81]:
# 데이터의 타입을 int형으로 바꿔줌
df[['Close', 'Low', 'Open', 'High', 'Adj Close']] \
    = df[['Close', 'Low', 'Open', 'High', 'Adj Close',]].astype(int)

In [76]:

# 컬럼명 'date'의 타입을 date로 바꿔줌
df.index = pd.to_datetime(df.index)

In [82]:
#macd 지표 구하기

def get_macd(df, short=12, long=26, t=9):
    
    ma_12=df.Close.ewm(span=12).mean() #단기(12) EMA(지수평균이동)
    ma_26=df.Close.ewm(span=26).mean() #장기(26) EMA
    macd=ma_12 - ma_26 #MACD
    macds = macd.ewm(span=9).mean() #Signal
    macdo = macd - macd

    df=df.assign(masd=macd, macds=macds, macdo=macdo).dropna()

    return df

In [84]:
df = get_macd(df)
# 상위 5개 데이터 확인

df.head()

,High,Low,Open,Close,Volume,Adj Close,masd,macds,macdo,Date
Date,,,,,,,,,,
2018-01-02,51400,50780,51380,51020,8474250.0,44846,0.000000,0.000000,0.0,2018-01-02
2018-01-03,52560,51420,52540,51620,10013500.0,45373,13.461538,7.478632,0.0,2018-01-03
2018-01-04,52180,50640,52120,51080,11695450.0,44898,0.407304,4.580547,0.0,2018-01-04
2018-01-05,52120,51200,51300,52120,9481150.0,45812,32.008805,13.871962,0.0,2018-01-05
2018-01-08,52520,51500,52400,52020,8383650.0,45724,44.527491,22.991289,0.0,2018-01-08

In [59]:
df.Close

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2019-12-23    55500
2019-12-24    55000
2019-12-26    55400
2019-12-27    56500
2019-12-30    55800
Name: Close, Length: 490, dtype: int64