In [104]:
pip install plotly

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (5.7.0)
Requirement already satisfied: tenacity>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from plotly) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [115]:
import mplfinance as mpf
import pandas_datareader as web
import plotly
import pandas_datareader as pdr
from pandas_datareader import data, wb
from datetime import date
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import pandas as pd

In [116]:
df=df.astype(int)

In [186]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [117]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (1.22.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [118]:
pip install -U finance-datareader

Requirement already satisfied: finance-datareader in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.9.33)
Requirement already satisfied: requests>=2.3.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (2.27.1)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: requests-file in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (1.4.2)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.19.2->finance-datareader) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (1.26.9)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests-file->finance-datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [119]:
pip install bs4

Requirement already satisfied: bs4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.

In [121]:
!pip3 install certifi

import certifi

Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2021.10.8)

In [122]:
import ssl

In [124]:
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)[0]

In [125]:
code_df.종목코드=code_df.종목코드.map('{:06d}'.format)

In [126]:
code_df=code_df[['회사명','종목코드']]

In [127]:
code_df=code_df.rename(columns={'회사명':'name','종목코드':'code'})

In [128]:
code_df.head()

    name    code
0     DL  000210
1  DRB동일  004840
2    DSR  155660
3     GS  078930
4  KG케미칼  001390

In [164]:
def get_url(item_name, code_df):
    code=code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False)
    url='https://finance.naver.com/item/sise.naver?code={code}'.format(code=code)

In [165]:
item_name='삼성전자'
url=get_url(item_name, code_df)

print("요청 URL={}".format(url))

요청 URL=None

In [166]:
df=pd.DataFrame()

In [167]:
df=df.dropna()

In [168]:
df=web.DataReader("005930.KS","yahoo","2018-01-01","2019-12-31")

In [169]:
df.head()

               High      Low     Open    Close      Volume     Adj Close
Date
2018-01-02  51400.0  50780.0  51380.0  51020.0   8474250.0  44845.996094
2018-01-03  52560.0  51420.0  52540.0  51620.0  10013500.0  45373.386719
2018-01-04  52180.0  50640.0  52120.0  51080.0  11695450.0  44898.738281
2018-01-05  52120.0  51200.0  51300.0  52120.0   9481150.0  45812.886719
2018-01-08  52520.0  51500.0  52400.0  52020.0   8383650.0  45724.984375

In [196]:
# 데이터의 타입을 int형으로 바꿔줌
df[['Close', 'Low', 'Open', 'High', 'Adj Close']] \
    = df[['Close', 'Low', 'Open', 'High', 'Adj Close',]].astype(int)

In [197]:
# 컬럼명 'date'의 타입을 date로 바꿔줌
df.index = pd.to_datetime(df.index)

In [216]:
#macd 지표 구하기

def get_macd(df, short=12, long=26, t=9):
    
    #입력받은 값이 dataframe이라는 것을 정의해줌
    df = pd.DataFrame(df)
    
    ma_12=df.Close.ewm(span=12).mean() #단기(12) EMA(지수평균이동)
    ma_26=df.Close.ewm(span=26).mean() #장기(26) EMA
    macd=ma_12 - ma_26 #MACD
    macds = macd.ewm(span=9).mean() #Signal
    macdo = macd - macd

    df=df.assign(macd=macd, macds=macds, macdo=macdo).dropna()

    return df

In [217]:
df = get_macd(df)
# 상위 5개 데이터 확인

df.head()

,High,Low,Open,Close,Volume,Adj Close,macd,macds,macdo
Date,,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,51557.589844,0.000000,0.000000,0.0
2020-01-03,56600.0,54900.0,56000.0,55500.0,15422255.0,51837.800781,6.730769,3.739316,0.0
2020-01-06,55600.0,54600.0,54900.0,55500.0,10278951.0,51837.800781,8.576336,5.721701,0.0
2020-01-07,56400.0,55600.0,55700.0,55800.0,10009778.0,52118.007812,20.036937,10.571036,0.0
2020-01-08,57400.0,55900.0,56200.0,56800.0,23501171.0,53052.015625,65.634930,26.951300,0.0

In [218]:
from plotly import tools
import plotly.offline as offline
import plotly.graph_objs as go

In [228]:
macd = go.Scatter(x=df.Date,
                  y=df['macd'],
                  name="MACD")

signal = go.Scatter(x=df.Date,
                    y=df['macds'],
                    name="Signal")

oscillator = go.Bar(x=df.Date,
                    y=df['macdo'],
                    name="Oscillator")

trade_volume = go.Bar(x=df.Date,
                      y=df['volume'],
                      name="volume")

data = [macd, signal, oscillator]

AttributeError: 'DataFrame' object has no attribute 'Date'

In [180]:
#data = [celltrion]
layout = go.Layout(title='{} MACD 그래프'.format(item_name))

fig = tools.make_subplots(rows=2, cols=1, shared_xaxes=True)

for trace in data:
    fig.append_trace(trace, 1,1)
    
fig.append_trace(trade_volume, 2,1)
#fig = go.Figure(data=data, layout=layout)

offline.iplot(fig)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/plotly/tools.py:461: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

TypeError: 'module' object is not iterable

In [210]:
df=web.DataReader("005930.KS","yahoo","2020-01-01","2022-05-31")

In [211]:
df.head()

               High      Low     Open    Close      Volume     Adj Close
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  51557.589844
2020-01-03  56600.0  54900.0  56000.0  55500.0  15422255.0  51837.800781
2020-01-06  55600.0  54600.0  54900.0  55500.0  10278951.0  51837.800781
2020-01-07  56400.0  55600.0  55700.0  55800.0  10009778.0  52118.007812
2020-01-08  57400.0  55900.0  56200.0  56800.0  23501171.0  53052.015625

In [220]:
#macd 지표 구하기

def get_macd(df, short=12, long=26, t=9):
    
    #입력받은 값이 dataframe이라는 것을 정의해줌
    df= pd.DataFrame(df)
    
    ma_12=df.Close.ewm(span=12).mean() #단기(12) EMA(지수평균이동)
    ma_26=df.Close.ewm(span=26).mean() #장기(26) EMA
    macd=ma_12 - ma_26 #MACD
    macds = macd.ewm(span=9).mean() #Signal
    macdo = macd - macd

    df=df.assign(macd=macd, macds=macds, macdo=macdo).dropna()

    return df

In [221]:
df = get_macd(df)
# 상위 5개 데이터 확인

df.head()

,High,Low,Open,Close,Volume,Adj Close,macd,macds,macdo
Date,,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,51557.589844,0.000000,0.000000,0.0
2020-01-03,56600.0,54900.0,56000.0,55500.0,15422255.0,51837.800781,6.730769,3.739316,0.0
2020-01-06,55600.0,54600.0,54900.0,55500.0,10278951.0,51837.800781,8.576336,5.721701,0.0
2020-01-07,56400.0,55600.0,55700.0,55800.0,10009778.0,52118.007812,20.036937,10.571036,0.0
2020-01-08,57400.0,55900.0,56200.0,56800.0,23501171.0,53052.015625,65.634930,26.951300,0.0