In [271]:
pip install plotly

Collecting plotly
  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 28.8/28.8 MB 3.4 MB/s eta 0:00:0000:0100:01m
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from plotly) (1.16.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.7.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [272]:
import mplfinance as mpf

In [273]:
import pandas_datareader as web

In [274]:
import plotly

In [281]:
df=df.astype(int)

In [300]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.12)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [301]:
import pandas_datareader as web

In [302]:
import pandas_datareader as pdr

In [1]:
pip install -U finance-datareader

Requirement already satisfied: finance-datareader in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.9.33)
Requirement already satisfied: requests-file in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (1.4.2)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (4.8.0)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: requests>=2.3.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from finance-datareader) (2.27.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.19.2->finance-datareader) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests-file->finance-datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

In [11]:
from pandas_datareader import data, wb

In [12]:
from datetime import date

In [22]:
pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 kB 5.3 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Using legacy 'setup.py install' for bs4, since package 'wheel' is not installed.
Installing collected packages: soupsieve, beautifulsoup4, bs4
  Running setup.py install for bs4 ... done
Successfully installed beautifulsoup4-4.11.1 bs4-0.0.1 soupsieve-2.3.2.post1
Note: you may need to restart the kernel to use updated packages.

In [23]:
import FinanceDataReader as fdr

In [29]:
import matplotlib.pyplot as plt

In [31]:
import pandas as pd

In [36]:
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)[0]

In [38]:
code_df.종목코드=code_df.종목코드.map('{:06d}'.format)

In [39]:
code_df=code_df[['회사명','종목코드']]

In [41]:
code_df=code_df.rename(columns={'회사명':'name','종목코드':'code'})

In [42]:
code_df.head()

    name    code
0     DL  000210
1  DRB동일  004840
2    DSR  155660
3     GS  078930
4  KG케미칼  001390

In [55]:
def get_url(item_name, code_df):
    code=code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False)
    url='https://finance.naver.com/item/sise.naver?code={code}'.format(code=code)

In [62]:
print("요청 URL={}".format(url))

요청 URL=None

In [57]:
item_name='삼성전자'
url=get_url(item_name, code_df)

In [58]:
df=pd.DataFrame()

In [63]:
df=df.dropna()

In [70]:
import pandas_datareader as web

In [71]:
df=web.DataReader("005930.KS","yahoo","2018-01-01","2019-12-31")

In [72]:
df.head()

               High      Low     Open    Close      Volume     Adj Close
Date
2018-01-02  51400.0  50780.0  51380.0  51020.0   8474250.0  44845.988281
2018-01-03  52560.0  51420.0  52540.0  51620.0  10013500.0  45373.386719
2018-01-04  52180.0  50640.0  52120.0  51080.0  11695450.0  44898.734375
2018-01-05  52120.0  51200.0  51300.0  52120.0   9481150.0  45812.878906
2018-01-08  52520.0  51500.0  52400.0  52020.0   8383650.0  45724.984375

In [74]:
df=df.rename(columns={'날짜':'data','종가':'close','전일비':'diff','시가':'open','고가':'high','저가':'low','거래량':'volume'})

In [79]:
df.head()

               High      Low     Open    Close      Volume     Adj Close
Date
2018-01-02  51400.0  50780.0  51380.0  51020.0   8474250.0  44845.988281
2018-01-03  52560.0  51420.0  52540.0  51620.0  10013500.0  45373.386719
2018-01-04  52180.0  50640.0  52120.0  51080.0  11695450.0  44898.734375
2018-01-05  52120.0  51200.0  51300.0  52120.0   9481150.0  45812.878906
2018-01-08  52520.0  51500.0  52400.0  52020.0   8383650.0  45724.984375

In [97]:
def get_macd(df, short=12, long=26, t=9):
    df=pd.DataFrame()

In [98]:
ma_12=df.close.ewm(span=12).mean() #단기(12) EMA(지수평균이동)
ma_26=df.close.ewm(epan=26).mean() #장기(26) EMA
macd=ma_12 - ma_26 #MACD
macds = macd.ewm(span=9).mean() #Signal
macds = macd - macds #Oscillator

df=df.assign(masd=macd, macds=macds, macdo=macdo).dropna()

return df

AttributeError: 'DataFrame' object has no attribute 'close'